<!doctype html>

<html>
<body>
  <form id="input_text">
    <textarea 
      rows ="10" 
      cols = "80" 
      name = "vanilla_text">leading sentence. One space.  Two spaces.</textarea><br>
    <input type="submit" id = "submit_text">
  </form>
</body>
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/text_response.js"></script>
</html>