<!doctype html>

<html>
<body>
  <form id="input_text">
    <textarea 
      rows ="10" 
      cols = "80" 
      name = "vanilla_text">Leading sentence. One space.  Two spaces.No spaces.    Four spaces.</textarea><br>
    <input type="submit" id = "submit_text">
  </form>
  <div id="stage">
    The edited text:<br> 
    <div id="new_text"></div>
    The changes made to the text:<br> 
    <div id = "edit_window"></div>
  </div>
</body>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/text_response.js"></script>
</html>